
/*body {
	  cursor:url(http://www.icon100.com/up/3772/128/425-hand-pointer.png), auto;
}*/

h1 {
	font-family: arial;
	font-size: 72px;
	text-align: center;
	color: white;
	letter-spacing: -2.5px;
}

h2 {
	font-family: arial;
	font-size: 36px;
	text-align: center;
	color: white;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	display: inline;
	padding: 10px;
}

h3 {
	font-family: arial;
	letter-spacing: 1px;
	font-size: 20px;
	color: white;
	padding: 20px;
}

.goback {
	margin-top: 1%;

}


.start {
	padding: 70px;
	text-align:center;
}

a {
	text-decoration: none;
}

.getworld {
	padding: 70px;
	text-align:center;
}
.getworld > h1 {
	font-size: 50px;
}

/*.world1 > img {
  width:35%;
  height:35%;
}*/

.world1 > img {
	max-width: 420px;
	width: 100%;
	height: auto;
	display: block;
	margin:20px auto;
	opacity: 0;
	position: relative;
}

/*.w1pic1 {
	position: fixed;
	display: block;
	margin-left: 30%;
	margin-right: auto;
}*/


/*----start worlds----*/
.world1 > img:hover { 
   opacity: 100;
}

.narrative1 > h3 {
	font-size: 10px;
}

.narrative1 {
	float:left;
	margin-left: 43%;
	margin-top: -27%;
	position: relative;
}


.world2 > img {
	max-width: 480px;
	width: 100%;
	height: auto;
	display: block;
	margin: 20px auto;
	margin-top: 1%;
	opacity: 100;
	position: relative;
}

.narrative2 {
	float:left;
	margin-left: 39%;
	margin-top: -28.5%;
	position: relative;
}

.tinker1 > img {
	z-index: 1;
	margin-left: 24%;
	margin-top: -35%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.tinker2 > img {
	z-index: 1;
	margin-left: 70%;
	margin-top: -10%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}


.world2 > img {
	max-width: 420px;
	width: 100%;
	height: auto;
	display: block;
	margin:20px auto;
	opacity: 0;
}

.world2 > img:hover { 
   opacity: 100;
}

.tinker3 > img {
	z-index: 1;
	margin-left: 13%;
	margin-top: -38%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.tinker4 > img {
	z-index: 1;
	margin-left: 85%;
	margin-top: -13%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}


.world3 > img {
	max-width: 420px;
	width: 100%;
	height: auto;
	display: block;
	margin:20px auto;
	opacity: 0;
}

.world3 > img:hover { 
   opacity: 100;
}

.narrative3 {
	float:left;
	margin-left: 40%;
	margin-top: -25.5%;
	position: relative;
}

.tinker5 > img {
	z-index: 1;
	margin-left: 50%;
	margin-top: -35%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.tinker6 > img {
	z-index: 1;
	margin-left: 40%;
	margin-top: -12%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}


.world4 > img {
	max-width: 420px;
	width: 100%;
	height: auto;
	display: block;
	margin:20px auto;
	opacity: 0;
}

.world4 > img:hover { 
   opacity: 100;
}

.narrative4 {
	float:left;
	margin-left: 50%;
	margin-top: -25.5%;
	position: relative;
}

.tinker7 > img {
	z-index: 1;
	margin-left: 55%;
	margin-top: -35%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.tinker8 > img {
	z-index: 1;
	margin-left: 42%;
	margin-top: -12%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}


.world5 > img {
	max-width: 400px;
	width: 100%;
	height: auto;
	display: block;
	margin:20px auto;
	opacity: 0;
}

.world5 > img:hover { 
   opacity: 100;
}

.narrative5 {
	float:left;
	margin-left: 30%;
	margin-top: -24%;
	position: relative;
}

.tinker9 > img {
	z-index: 1;
	margin-left: 55%;
	margin-top: -35%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.tinker10 > img {
	z-index: 1;
	margin-left: 20%;
	margin-top: -12%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.world6 > img {
	max-width: 420px;
	width: 100%;
	height: auto;
	display: block;
	margin:20px auto;
	opacity: 0;
}

.world6 > img:hover { 
   opacity: 100;
}

.narrative6 {
	float:left;
	margin-left: 45%;
	margin-top: -25%;
	position: relative;
}

.tinker11 > img {
	z-index: 1;
	margin-left: 84%;
	margin-top: -35%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}

.tinker12 > img {
	z-index: 1;
	margin-left: 67%;
	margin-top: -12%;
	position: fixed;
	max-width: 50px;
	height: auto;
	float: left;
	display: block;
}


/*----end worlds----*/

.lostboys > img {
	max-width: 620px;
	width: 100%;
	margin-left: -40%;
	/*float: left;*/
	position: relative;
	height: auto;
	display: block;
	margin:10px auto;
}

.tinker13 > img {
	z-index: 1;
	margin-left: 58%;
	margin-top: -35%;
	position: relative;
	max-width: 200px;
	height: auto;
	float: left;
	display: block;
}

.narrativevictory {
	display: block;
	float:left;
	margin-left: 27%;
/*	margin-top: -25.5%;*/
	position: relative;
}

.playagain {
	display: block;
	margin-left: 41%;
	margin-top: 9%;
	position: relative;
}
